{%extends 'base/common/main.html'%} {%block content%}
<div class="container">
    <article class="docs-article">
        <header class="docs-header">
            <h3>Voice recognition development</h3>
            <section class="docs-intro">
                <p><a href="#">Overview</a> | <a href="#">Brief history of Voice Recognition</a></p>
            </section>
        </header>
        <hr>

        <header class="docs-header">
            <h3>Audio signal feature extraction</h3>
            <section class="docs-intro">
                <p><a href="#">Overview</a> | <a href="#">Time domain features</a> | <a href="#">Frequency domain features</a></p>
            </section>
        </header>
        <hr>
    </article>
    <!--//docs-article-->

</div>
{%endblock content%}